<div class='course-card' id='course-card' style='display:none'>
  <div class='card-content'>
    <div class='card-padder'>
      <!-- <div class='card-title'></div> -->
      <!-- <div class='card-description'></div> -->
      <div class='card-actions'>
        <!-- <span class="card-action card-float-left card-cancel close-tooltip">Cancel</span> -->
        <span class="card-float-left card-course-credit">
          <select class="course-credit">
            <option value="0">0 CU</option>
            <option value="0.5">0.5 CU</option>
            <option value="1">1 CU</option>
            <option value="1.5">1.5 CU</option>
            <option value="2">2 CU</option>
          </select>
        </span>
        <span class="card-action card-float-left card-remove">Remove</span>
        <span class="card-action hover-left course-label"></span>
      </div>
    </div>
  </div>
</div>