<div class='course-card' id='course-card' style='display:none'>
  <div class='card-content'>
    <div class='card-padder'>
      <div class='card-title'>CIS 160</div>
      <div class='card-description'>Abbott Handerson Thayer (1849 - 1921) was an American artist, naturalist and teacher.
        He is best known for his 'angel' paintings, some of which use his children as models.</div>
      <div class='card-actions'>
        <span class="card-action card-cancel close-tooltip">Cancel</span>
        <span class="card-action card-remove">Remove</span>
      </div>
    </div>
  </div>
</div>