<footer>
  <div class="copyright">
    <p>&copy 2017 - Devesh Dayal</p>
  </div>
  <div class="social">
    <a href="mailto:deveshdseas.upenn.edu?Subject=Penn%20Course%20Planner" class="support">Contact Me</a>
    <a href="https://www.facebook.com/devesh.dayal1" class="face">f</a>
    <a href="https://twitter.com/DeveshDayal" class="tweet">t</a>
    <a href="https://www.linkedin.com/in/deveshdayal" class="linked">in</a>
  </div>
</footer>