<!DOCTYPE html>
<html>
  <head>
    <title>Penn Planner</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.0-rc1/Sortable.min.js"></script>
  </head>
  <body>
    <table id="schedule">
      <tr>
        <th colspan="2">Four Year Plan</th>
      </tr>
      <tr>
        <td class="heading">Fall 2014</td>
        <td class="heading">Spring 2015</td>
      </tr>

      <tr>
        <td class="fall section">
          <ul class="courses">
            <li>CIS 160</li>
            <li>CIS 120</li>
            <li>MATH 240</li>
            <li>NETS 213</li>
            <li>MGMT 100</li>
          <ul>
        </td>
        <td class="spring section">
          <ul class="courses">
            <li>CIS 121</li>
            <li>MGMT 101</li>
            <li>BEPP 250</li>
            <li>EAS 203</li>
            <li>WRIT 039 302</li>
          <ul>
        </td>
      </tr>

      <tr>
        <td class="heading">Fall 2014</td>
        <td class="heading">Spring 2015</td>
      </tr>

        <td class="fall section">
          <ul class="courses">
            <li>CIS 160</li>
            <li>CIS 120</li>
            <li>MATH 240</li>
            <li>NETS 213</li>
            <li>MGMT 100</li>
          <ul>
        </td>
        <td class="spring section">
          <ul class="courses">
            <li>CIS 121</li>
            <li>MGMT 101</li>
            <li>BEPP 250</li>
            <li>EAS 203</li>
            <li>WRIT 039 302</li>
          <ul>
        </td>
      </tr>

      <tr>
        <td class="heading">Fall 2014</td>
        <td class="heading">Spring 2015</td>
      </tr>

        <td class="fall section">
          <ul class="courses">
            <li>CIS 160</li>
            <li>CIS 120</li>
            <li>MATH 240</li>
            <li>NETS 213</li>
            <li>MGMT 100</li>
          <ul>
        </td>
        <td class="spring section">
          <ul class="courses">
            <li>CIS 121</li>
            <li>MGMT 101</li>
            <li>BEPP 250</li>
            <li>EAS 203</li>
            <li>WRIT 039 302</li>
          <ul>
        </td>
      </tr>

      <tr>
        <td class="heading">Fall 2014</td>
        <td class="heading">Spring 2015</td>
      </tr>

        <td class="fall section">
          <ul class="courses">
            <li>CIS 160</li>
            <li>CIS 120</li>
            <li>MATH 240</li>
            <li>NETS 213</li>
            <li>MGMT 100</li>
          <ul>
        </td>
        <td class="spring section">
          <ul class="courses">
            <li>CIS 121</li>
            <li>MGMT 101</li>
            <li>BEPP 250</li>
            <li>EAS 203</li>
            <li>WRIT 039 302</li>
          <ul>
        </td>
      </tr>

    </table>
    <script type="text/javascript" src="/javascripts/schedule.js"></script>
  </body>
</html>
