<!DOCTYPE html>
<html>
  <head>
    <title>Penn Planner | Home </title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
      body { padding-top: 50px; }
      img { width: 140px; height: 140px; }
      .fa-sign-out { float: right; }
    </style>
  </head>
    <body>
    <div class="col-sm-8 col-sm-offset-2">
      <div class="jumbotron text-center">
        <h1>Penn Planner</h1>
        <p class="lead">More effective course planning today.</p>

        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google-plus"></span> Sign in with Google</a>

      </div>
      <p>Alpha build. &copy; 2017.</p>
    </div>
  </body>
</html>