<!-- The Modal -->
<div id="new-label-modal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-header">
      <span class="close close-modal">&times;</span>
      <h2>Create New Label</h2>
    </div>
    <div class="modal-body">
      <table>
        <tr>
          <td colspan="1">
            <span>Label Color&nbsp;</span><input class="jscolor label-color" value="0D81AB"></input>
          </td>
          <td colspan="2">
            <span>Label Name&nbsp;</span><input class="label-name" type="text" placeholder="CIS Undergraduate Elective"></input>
          </td>
        </tr>
      </table>
    </div>
  </div>

</div>
