<!DOCTYPE html>
<html>
  <head>
    <title>Penn Planner</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/tipped.css' />
    <link rel='stylesheet' href='/stylesheets/card.css' />

    <link rel='stylesheet' href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/Sortable/1.5.0-rc1/Sortable.min.js"></script>
  </head>
  <body>
    <!-- navbar -->
    <%- include('navbar'); %>

    <!-- course card (no display) -->
    <%- include('card'); %>

    <!-- main content -->
    <div id="schedule" class="container">
      <table id="schedule">
        <tr>
          <th colspan="2">Four Year Plan</th>
        </tr>
        <tr>
          <td class="heading">Fall 2014</td>
          <td class="heading">Spring 2015</td>
        </tr>

        <tr>
          <td class="fall section">
            <ul class="courses">
              <li class="course">CIS 160</li>
              <li class="course">CIS 120</li>
              <li class="course">MATH 240</li>
              <li class="course">NETS 213</li>
              <li class="course">MGMT 100</li>
            <ul>
          </td>
          <td class="spring section">
            <ul class="courses">
              <li class="course">CIS 121</li>
              <li class="course">MGMT 101</li>
              <li class="course">BEPP 250</li>
              <li class="course">EAS 203</li>
              <li class="course">WRIT 039 302</li>
            <ul>
          </td>
        </tr>

        <tr>
          <td class="heading">Fall 2014</td>
          <td class="heading">Spring 2015</td>
        </tr>

          <td class="fall section">
            <ul class="courses">
              <li class="course">CIS 160</li>
              <li class="course">CIS 120</li>
              <li class="course">MATH 240</li>
              <li class="course">NETS 213</li>
              <li class="course">MGMT 100</li>
            <ul>
          </td>
          <td class="spring section">
            <ul class="courses">
              <li class="course">CIS 121</li>
              <li class="course">MGMT 101</li>
              <li class="course">BEPP 250</li>
              <li class="course">EAS 203</li>
              <li class="course">WRIT 039 302</li>
            <ul>
          </td>
        </tr>

        <tr>
          <td class="heading">Fall 2014</td>
          <td class="heading">Spring 2015</td>
        </tr>

          <td class="fall section">
            <ul class="courses">
              <li class="course">CIS 160</li>
              <li class="course">CIS 120</li>
              <li class="course">MATH 240</li>
              <li class="course">NETS 213</li>
              <li class="course">MGMT 100</li>
            <ul>
          </td>
          <td class="spring section">
            <ul class="courses">
              <li class="course">CIS 121</li>
              <li class="course">MGMT 101</li>
              <li class="course">BEPP 250</li>
              <li class="course">EAS 203</li>
              <li class="course">WRIT 039 302</li>
            <ul>
          </td>
        </tr>

        <tr>
          <td class="heading">Fall 2014</td>
          <td class="heading">Spring 2015</td>
        </tr>

          <td class="fall section">
            <ul class="courses">
              <li class="course">CIS 160</li>
              <li class="course">CIS 120</li>
              <li class="course">MATH 240</li>
              <li class="course">NETS 213</li>
              <li class="course">MGMT 100</li>
            <ul>
          </td>
          <td class="spring section">
            <ul class="courses">
              <li class="course">CIS 121</li>
              <li class="course">MGMT 101</li>
              <li class="course">BEPP 250</li>
              <li class="course">EAS 203</li>
              <li class="course">WRIT 039 302</li>
            <ul>
          </td>
        </tr>
        <tr>
          <td class="btn" id="add-course" colspan="2">
            <span><i class='fa fa-plus'></i>&nbsp;<span class="label">Add Course</span></span>
          </td>
        </tr>
      </table>

    <script type="text/javascript" src="/javascripts/jquery.override.js"></script>
    <script type="text/javascript" src="/javascripts/tipped.js"></script>
    <script type="text/javascript" src="/javascripts/schedule.js"></script>
  </body>
</html>
