/**
 * @author Devesh Dayal deveshd@seas.upenn.edu
 */

.course-card {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.card-padder {
  padding: 0;
}

.card-content {
  color: #282828;
  margin-bottom: 10px;
}

.card-title {
  margin: 15px 0;
  font-size: 30px;
}

.card-actions {
  padding: 5px 0;
}

.card-action {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  color: #ffffff;
  font-size: 12px;
  padding: 4px;
  margin: 0;
  text-decoration: none;
}

.card-float-left {
  float: left;
}

.card-float-right {
  float: right;
}

.card-action:hover {
  cursor: pointer;
  text-decoration: underline;
}

.card-cancel {
  background: #eee;
  color: #787878;
}

.card-remove {
  background: #B33A3A;
}

.course-card select {
  padding: 4px 8px;
  margin: 0;
  background: #f8f8f8;
  border:none;
  font-size: 13px;
  outline:none;
  -webkit-appearance:none;
  -moz-appearance:none;
  appearance:none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  cursor:pointer;
}

.tpd-background {
  border: none !important;
  background: rgba(255, 255, 255, 0) !important;
}