/**
 * @author Devesh Dayal deveshd@seas.upenn.edu
 */

body {
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  position: relative;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
}

a {
  color: #00B7FF;
}

p {
  margin: 5px 5px;
}


.container {
  padding: 10px 0;
  margin: 0 auto;
  max-width: 75%;
}

.btn {
  background-color: #f2f2f2;
  cursor: pointer;
}

.btn:hover {
  background-color: #d9d9d9;
}

input[type="text"] {
  border-style: dashed;
  border-width: 2px;
  border-color: #000;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}


/**
 * Scheduler table contents
 */

#schedule {
  border-collapse: collapse;
  text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  width: 100%;
}

#schedule td, #schedule th {
  border: 1px solid #ddd;
  padding: 8px;
}

#schedule tr:nth-child(even){background-color: #f2f2f2;}

#schedule th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
  font-size: 28px;
}

#schedule .heading {
  text-transform: uppercase;
  font-weight: 800;
}

#schedule .section {
  padding: 0;
  width: 50%;
}

#schedule .courses {
  list-style: none;
  padding: 0;
  margin: auto;
  text-transform: uppercase;
}

#schedule .courses li {
  background: #fff;
  cursor: move;
  padding: 5px 0;
  margin: 0 auto;
  width: 40%;
}

#schedule .courses :hover {
  background: rgba(76, 175, 80, 0.1);
}

#schedule .chosen-course {
  font-weight: 600;
}

#schedule .ghost-course {
  border-style: dashed;
  border-width: 2px;
  border-color: #000;
  cursor: move;
  opacity: 0.5;
}

/* 
  The Modal (background) 
*/

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    -webkit-animation-name: fadeIn; /* Fade in the background */
    -webkit-animation-duration: 0.4s;
    animation-name: fadeIn;
    animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
    position: fixed;
    bottom: 0;
    background-color: #fefefe;
    width: 100%;
    -webkit-animation-name: slideIn;
    -webkit-animation-duration: 0.4s;
    animation-name: slideIn;
    animation-duration: 0.4s
}

/* The Close Button */
.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #4CAF50;
    color: white;
}

.modal-body {
  padding: 2px 16px;
  font-size: 16px;
}

/* Add Animation */
@-webkit-keyframes slideIn {
    from {bottom: -300px; opacity: 0} 
    to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
    from {bottom: -300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

@keyframes fadeIn {
    from {opacity: 0} 
    to {opacity: 1}
}

.modal-body table {
  width: 100%;
}

input.label-color {
  cursor: pointer;
}

input.label-name {
  width: 80%;
  border-style: solid;
  border-width: 1px;
  font-size: 16px;
  text-align: center;
}
