/**
 * @author Devesh Dayal deveshd@seas.upenn.edu
 */

body {
  padding: 10px 0;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  scroll-x: none;
}

a {
  color: #00B7FF;
}

p {
  margin: 5px 5px;
}


.container {
  margin: 0 auto;
  max-width: 75%;
}

.btn {
  background-color: #f2f2f2;
  cursor: pointer;
}

.btn:hover {
  background-color: #d9d9d9;
}

input[type="text"] {
  border-style: dashed;
  border-width: 2px;
  border-color: #000;
  font: 12px "Lucida Grande", Helvetica, Arial, sans-serif;
  text-align: center;
}


/**
 * Scheduler table contents
 */

#schedule {
  border-collapse: collapse;
  text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  width: 100%;
}

#schedule td, #schedule th {
  border: 1px solid #ddd;
  padding: 8px;
}

#schedule tr:nth-child(even){background-color: #f2f2f2;}

#schedule th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #4CAF50;
  color: white;
  font-size: 28px;
}

#schedule .heading {
  text-transform: uppercase;
  font-weight: 800;
}

#schedule .section {
  padding: 0;
  width: 50%;
}

#schedule .courses {
  list-style: none;
  padding: 0;
  margin: auto;
  text-transform: uppercase;
}

#schedule .courses li {
  background: #fff;
  cursor: move;
  padding: 5px 0;
  margin: 0 auto;
  width: 40%;
}

#schedule .courses :hover {
  background: rgba(76, 175, 80, 0.1);
}

#schedule .chosen-course {
  font-weight: 600;
}

#schedule .ghost-course {
  border-style: dashed;
  border-width: 2px;
  border-color: #000;
  cursor: move;
  opacity: 0.5;
}